Body {
background-color:rgb(174, 241, 241) ;
}

#score {
font-size: 25px;
margin-left: 15px;    
}

#timer
{
  font-size: 25px;
  float: right;
  margin-right: 15px;
}

#type
{
    color:rgb(2, 119, 99)
}